body {
  background-color: lightgray;
}

h1 {
  color: blue;
}

img{
  border-radius: 50%;
}

.random{
  color: brown;
  font-family: cursive;
}
.notrandom{
  color: green;
}
.border {
  border: 1px solid black;
}

.highlight {
  background-color: orange;
}
